In [1]:
import pandas as pd

In [3]:
# Method1 explicit path
statsDF = pd.read_csv("C:\\Users\\Bibhu\\Desktop\\Oracle_ML\\Assignment\\DemographicData.csv")

In [4]:
statsDF

,Country Name,Country Code,Birth rate,Internet users,Income Group
0,Aruba,ABW,10.244,78.90000,High income
1,Afghanistan,AFG,35.253,5.90000,Low income
2,Angola,AGO,45.985,19.10000,Upper middle income
3,Albania,ALB,12.877,57.20000,Upper middle income
4,United Arab Emirates,ARE,11.044,88.00000,High income
5,Argentina,ARG,17.716,59.90000,High income
6,Armenia,ARM,13.308,41.90000,Lower middle income
7,Antigua and Barbuda,ATG,16.447,63.40000,High income
8,Australia,AUS,13.200,83.00000,High income
9,Austria,AUT,9.400,80.61880,High income
10,Azerbaijan,AZE,18.300,58.70000,Upper middle income
11,Burundi,BDI,44.151,1.30000,Low income
12,Belgium,BEL,11.200,82.17020,High income
13,Benin,BEN,36.440,4.90000,Low income
14,Burkina Faso,BFA,40.551,9.10000,Low income
15,Bangladesh,BGD,20.142,6.63000,Lower middle income
16,Bulgaria,BGR,9.200,53.06150,Upper middle income
17,Bahrain,BHR,15.040,90.00004,High income
18,"Bahamas, The",BHS,15.339,72.00000,High income
19,Bosnia and Herzegovina,BIH,9.062,57.79000,Upper middle income
20,Belarus,BLR,12.500,54.17000,Upper middle income
21,Belize,BLZ,23.092,33.60000,Upper middle income
22,Bermuda,BMU,10.400,95.30000,High income
23,Bolivia,BOL,24.236,36.94000,Lower middle income
24,Brazil,BRA,14.931,51.04000,Upper middle income
25,Barbados,BRB,12.188,73.00000,High income
26,Brunei Darussalam,BRN,16.405,64.50000,High income
27,Bhutan,BTN,18.134,29.90000,Lower middle income
28,Botswana,BWA,25.267,15.00000,Upper middle income
29,Central African Republic,CAF,34.076,3.50000,Low income
...,...,...,...,...,...
165,Seychelles,SYC,18.600,50.40000,High income
166,Syrian Arab Republic,SYR,24.043,26.20000,Lower middle income
167,Chad,TCD,45.745,2.30000,Low income
168,Togo,TGO,36.080,4.50000,Low income
169,Thailand,THA,11.041,28.94000,Upper middle income
170,Tajikistan,TJK,30.792,16.00000,Lower middle income
171,Turkmenistan,TKM,21.322,9.60000,Upper middle income
172,Timor-Leste,TLS,35.755,1.10000,Lower middle income
173,Tonga,TON,25.409,35.00000,Upper middle income
174,Trinidad and Tobago,TTO,14.590,63.80000,High income
175,Tunisia,TUN,19.800,43.80000,Upper middle income
176,Turkey,TUR,16.836,46.25000,Upper middle income
177,Tanzania,TZA,39.518,4.40000,Low income
178,Uganda,UGA,43.474,16.20000,Low income
179,Ukraine,UKR,11.100,41.00000,Lower middle income
180,Uruguay,URY,14.374,57.69000,High income
181,United States,USA,12.500,84.20000,High income
182,Uzbekistan,UZB,22.500,38.20000,Lower middle income
183,St. Vincent and the Grenadines,VCT,16.306,52.00000,Upper middle income
184,"Venezuela, RB",VEN,19.842,54.90000,High income
185,Virgin Islands (U.S.),VIR,10.700,45.30000,High income
186,Vietnam,VNM,15.537,43.90000,Lower middle income
187,Vanuatu,VUT,26.739,11.30000,Lower middle income
188,West Bank and Gaza,PSE,30.394,46.60000,Lower middle income
189,Samoa,WSM,26.172,15.30000,Lower middle income
190,"Yemen, Rep.",YEM,32.947,20.00000,Lower middle income
191,South Africa,ZAF,20.850,46.50000,Upper middle income
192,"Congo, Dem. Rep.",COD,42.394,2.20000,Low income
193,Zambia,ZMB,40.471,15.40000,Lower middle income
194,Zimbabwe,ZWE,35.715,18.50000,Low income

In [5]:
# Method 2 : Change the working directory

import os

print(os.getcwd())

E:\Python_ML\Python_Demo_ML

In [6]:
os.chdir("C:\\Users\\Bibhu\\Desktop\\Oracle_ML\\Assignment")
print(os.getcwd())

C:\Users\Bibhu\Desktop\Oracle_ML\Assignment

In [8]:
statsDF2 = pd.read_csv("DemographicData.csv")

In [9]:
statsDF2

,Country Name,Country Code,Birth rate,Internet users,Income Group
0,Aruba,ABW,10.244,78.90000,High income
1,Afghanistan,AFG,35.253,5.90000,Low income
2,Angola,AGO,45.985,19.10000,Upper middle income
3,Albania,ALB,12.877,57.20000,Upper middle income
4,United Arab Emirates,ARE,11.044,88.00000,High income
5,Argentina,ARG,17.716,59.90000,High income
6,Armenia,ARM,13.308,41.90000,Lower middle income
7,Antigua and Barbuda,ATG,16.447,63.40000,High income
8,Australia,AUS,13.200,83.00000,High income
9,Austria,AUT,9.400,80.61880,High income
10,Azerbaijan,AZE,18.300,58.70000,Upper middle income
11,Burundi,BDI,44.151,1.30000,Low income
12,Belgium,BEL,11.200,82.17020,High income
13,Benin,BEN,36.440,4.90000,Low income
14,Burkina Faso,BFA,40.551,9.10000,Low income
15,Bangladesh,BGD,20.142,6.63000,Lower middle income
16,Bulgaria,BGR,9.200,53.06150,Upper middle income
17,Bahrain,BHR,15.040,90.00004,High income
18,"Bahamas, The",BHS,15.339,72.00000,High income
19,Bosnia and Herzegovina,BIH,9.062,57.79000,Upper middle income
20,Belarus,BLR,12.500,54.17000,Upper middle income
21,Belize,BLZ,23.092,33.60000,Upper middle income
22,Bermuda,BMU,10.400,95.30000,High income
23,Bolivia,BOL,24.236,36.94000,Lower middle income
24,Brazil,BRA,14.931,51.04000,Upper middle income
25,Barbados,BRB,12.188,73.00000,High income
26,Brunei Darussalam,BRN,16.405,64.50000,High income
27,Bhutan,BTN,18.134,29.90000,Lower middle income
28,Botswana,BWA,25.267,15.00000,Upper middle income
29,Central African Republic,CAF,34.076,3.50000,Low income
...,...,...,...,...,...
165,Seychelles,SYC,18.600,50.40000,High income
166,Syrian Arab Republic,SYR,24.043,26.20000,Lower middle income
167,Chad,TCD,45.745,2.30000,Low income
168,Togo,TGO,36.080,4.50000,Low income
169,Thailand,THA,11.041,28.94000,Upper middle income
170,Tajikistan,TJK,30.792,16.00000,Lower middle income
171,Turkmenistan,TKM,21.322,9.60000,Upper middle income
172,Timor-Leste,TLS,35.755,1.10000,Lower middle income
173,Tonga,TON,25.409,35.00000,Upper middle income
174,Trinidad and Tobago,TTO,14.590,63.80000,High income
175,Tunisia,TUN,19.800,43.80000,Upper middle income
176,Turkey,TUR,16.836,46.25000,Upper middle income
177,Tanzania,TZA,39.518,4.40000,Low income
178,Uganda,UGA,43.474,16.20000,Low income
179,Ukraine,UKR,11.100,41.00000,Lower middle income
180,Uruguay,URY,14.374,57.69000,High income
181,United States,USA,12.500,84.20000,High income
182,Uzbekistan,UZB,22.500,38.20000,Lower middle income
183,St. Vincent and the Grenadines,VCT,16.306,52.00000,Upper middle income
184,"Venezuela, RB",VEN,19.842,54.90000,High income
185,Virgin Islands (U.S.),VIR,10.700,45.30000,High income
186,Vietnam,VNM,15.537,43.90000,Lower middle income
187,Vanuatu,VUT,26.739,11.30000,Lower middle income
188,West Bank and Gaza,PSE,30.394,46.60000,Lower middle income
189,Samoa,WSM,26.172,15.30000,Lower middle income
190,"Yemen, Rep.",YEM,32.947,20.00000,Lower middle income
191,South Africa,ZAF,20.850,46.50000,Upper middle income
192,"Congo, Dem. Rep.",COD,42.394,2.20000,Low income
193,Zambia,ZMB,40.471,15.40000,Lower middle income
194,Zimbabwe,ZWE,35.715,18.50000,Low income

In [11]:
os.chdir("E:\\Python_ML\\Python_Demo_ML")
print(os.getcwd())

E:\Python_ML\Python_Demo_ML